{% include 'header.html' %}
{% include 'basics.html' %}

  <div class="jumbotron">
    <h1 style=" font-size: 4em">Colors</h1>
    <p style="font-size:1.2em"> A color can be number in the range 0 to 140, with the exception of 140 itself. Below is a chart showing the range of
      such colors you can use in NetLogo.</p>
  </div>

  <img class="move-text-left img-thumbnail" style="float: left; margin-right: 2em" src="/static/img/color.png">
  <p class="move-text-left">
    If you use a number outside the 0 to 140 range, NetLogo will repeatedly add or subtract 140 from the number until it is in
    the 0 to 140 range. For example, 25 is orange, so 165, 305, 445, and so on are orange too, and so are -115, -255, -395,
    etc. This calculation is done automatically whenever you set the turtle variable color or the patch variable pcolor.
    Should you need to perform this calculation in some other context, use the wrap-color primitive. If you want a color
    that's not on the chart, more exist between the integers. For example, 26.5 is a shade of orange halfway between 26 and
    27. This doesn't mean you can make any color in NetLogo; the NetLogo color space is only a subset of all possible colors.
    It contains only a fixed set of discrete hues (one hue per row of the chart). Starting from one of those hues, you can
    either decrease its brightness (darken it) or decrease its saturation (lighten it), but you cannot decrease both brightness
    and saturation. Also, only the first digit after the decimal point is significant. Thus, color values are rounded down
    to the next 0.1, so for example, there's no visible difference between 26.5 and 26.52 or 26.58.</p>
  <!--- example-->
  <p>&nbsp;</p>
  <h3 class="move-text-left">RGB and RGBA Colors</h3>
  <p class="move-text-left">NetLogo also represents colors as RGB (red/green/blue) lists and RGBA (red/green/blue/alpha) lists. When using RGB colors
    the full range of colors is available to you. RGBA colors allow all the colors that RGB allows and you can also vary
    the transparency of a color. RGB and RGBA lists are made up of three or four integers, respectively, between 0 and 255
    if a number is outside that range 255 is repeatedly subtracted until it is in the range. You can set any color variables
    in NetLogo (color for turtles and links and pcolor for patches) to an RGB list and that agent will be rendered appropriately.
    So you can set the color of patch 0 0 to pure red using the following code:
  </p>
  <p class="lead">
    <code>set pcolor [255 0 0]</code>
  </p>
  <p>&nbsp;</p>

  <p>Turtles, links, and labels can all contain RGBA lists as their color variables, however, patches cannot have RGBA pcolors
    You can set the color of a turtle to be approximately half transparent pure red with the following code:
  </p>
  <p class="lead">
    <code>set pcolor [255 0 0 125]</code>
  </p>
  <p>
    You can convert from a NetLogo color to RGB or HSB (hue/saturation/brightness) using extract-hsb and extract-rgb. You can
    use rgb to generate rgb lists and hsb to convert from an HSB color to RGB. Since many colors are missing from the NetLogo
    color space, approximate-hsb and approximate-rgb often can't give you the exact color you ask for, but they try to come
    as close as possible. Example: you can change any turtle from it's existing NetLogo color to a half transparent version
    of that color using:
  </p>
  <p class="lead">
    <code>set color lput 125 extract-rgb color</code>
  </p>

  <h3 class="move-text-left">Color Swatches dialog</h3>
  <p class="move-text-left"> The Color Swatches dialog helps you experiment with and choose colors. Open it by choosing Color Swatches on the Tools
    Menu.
    <p>
      <img class="move-text-left img-thumbnail" style="float: left; margin-right: 2em" src="/static/img/color4.png">
    </p>
    <p class="move-text-left">
      <p> When you click on a color swatch (or a color button), that color will be shown against other colors. In the bottom
        left, the code for the currently selected color is displayed (for example, red + 2) so you can copy and paste it
        into your code. On the bottom right there are three increment options, 1, 0.5, and 0.1. These numbers indicate the
        difference between two adjacent swatches. When the increment is 1 there are 10 different shades in each row; when
        the increment is 0.1 there are 100 different shades in each row. 0.5 is an intermediate setting.</p>
      </div>
      </div>

      {% include 'footer.html' %}
