<div class="container-fluid">

  <div class="row">
    <!-- create a row, which we will divide to 2 columns-->

    <div class="col-md-2">
      <!-- left column-->


      <h4 class="list-group-item-heading" style="padding-bottom: 5px">Dictionary</h4>
      <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('agentset') }}">Agentset</a></li>
        <li class="list-group-item"><a href="{{ url_for('anonymous') }}">Anonymous Procedures</a></li>
        <li class="list-group-item"><a href="{{ url_for('color') }}">Color</a></li>
        <li class="list-group-item"><a href="{{ url_for('control') }}">Control/Logic</a></li>
        <li class="list-group-item"><a href="{{ url_for('file') }}">File</a></li>
        <li class="list-group-item"><a href="{{ url_for('inputoutput') }}">Input/Output</a></li>
        <li class="list-group-item"><a href="{{ url_for('hubnet') }}">HubNet</a></li>
        <li class="list-group-item"><a href="{{ url_for('links') }}">Links</a></li>
        <li class="list-group-item"><a href="{{ url_for('list') }}">List</a></li>
        <li class="list-group-item"><a href="{{ url_for('math') }}">Math</a></li>
        <li class="list-group-item"><a href="{{ url_for('patch') }}">Patch</a></li>
        <li class="list-group-item"><a href="{{ url_for('perspective') }}">Perspective</a></li>
        <li class="list-group-item"><a href="{{ url_for('plotting') }}">Plotting</a></li>
        <li class="list-group-item"><a href="{{ url_for('system') }}">System</a></li>
        <li class="list-group-item"><a href="{{ url_for('string') }}">String</a></li>
        <li class="list-group-item"><a href="{{ url_for('turtle') }}">Turtle</a></li>
        <li class="list-group-item"><a href="{{ url_for('world') }}">World</a></li>
        <li style="list-style: none">&nbsp;</li>
        <li class="list-group-item"><a href="{{ url_for('variables') }}">Variables</a></li>
        <li class="list-group-item"><a href="{{ url_for('keywords') }}">Keywords</a></li>
        <li class="list-group-item"><a href="{{ url_for('constants') }}">Constants</a></li>
      </ul>

    </div>
    <div class="col-md-10">
      <!-- right column-->
