{% include 'header.html' %}
{% include 'dictionary.html' %}

  <div class="jumbotron">
    <h1 style=" font-size: 4em">File</h1>
  </div>


  <p><small style="float: right; vertical-align: middle"><strong>keywords:</strong> hsb, color</small></p>

  <div class=agentset>
    {{task}}
  </div>

  <script>
  $("#compileColor").click(function () {
    codeframeColor.contentWindow.postMessage({ type: "nlw-update-model-state", codeTabContents: $('#usercodeColor').val() }, "*")
  });
  $("#compilePcolor").click(function () {
    codeframePcolor.contentWindow.postMessage({ type: "nlw-update-model-state", codeTabContents: $('#usercodePcolor').val() }, "*")
  });
  </script>

  {% include 'footer.html' %}
