<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>*insert page* Primitives</h2>
  <p>The different primitives are listed here:</p>
  <button type="button" class="btn btn-primary btn-primary">Add</button>
  <p>
    <br>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Primitive</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>in-radius</td>
        <td>some description here</td>
        <td>[Edit]  [Delete]</td>
      </tr>
      <tr>
        <td>in-cone</td>
        <td>some description here</td>
        <td>[Edit]  [Delete]</td>
      </tr>
      <tr>
        <td>with</td>
        <td>some description here</td>
        <td>[Edit]  [Delete]</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary btn-primary">Close</button>
  <button type="button" class="btn btn-primary btn-primary">Export File</button>
</div>

</body>
</html>
