{% include 'header.html' %}
{% include 'basics.html' %}

<div class="jumbotron">
  <h1 style=" font-size: 4em">Info Tab</h1>
  <p style="font-size:1.2em">
    The Info tab provides an introduction to a model. It explains what system is being modeled, how the model was created, and and how to use it.
    It may also suggest things to explore and ways to extend the model, or call your attention to particular NetLogo features the model uses.</p>

  <p style="font-size:1.2em">You may wish to read the Info tab before starting a model.</p>
</div>

{% include 'footer.html' %}
