{% include 'header.html' %}
{% include 'basics.html' %}
  <div class="jumbotron">
    <h1 style=" font-size: 4em">Patches</h1>
    <p style="font-size:1.2em"> The NetLogo world is made up of agents. Agents are beings that can follow instructions. In NetLogo, there are four types
      of agents: turtles, patches, links, and the observer.</p>
  </div>

  <img class="move-text-left img-thumbnail img-responsive" style="float: left; margin-right: 2em" src="/static/img/patches1.png">

  <h3 class="move-text-left">What are Patches?</h3>
  <p class="move-text-left">The world is two dimensional and is divided up into a grid of patches. Each patch is a square piece of "ground" over which
    turtles can move. Patches can make new turtles. Patches can't move, but otherwise they're just as "alive" as turtles.
  </p>
  <h3 class="move-text-left">Patch Coordinates</h3>
  <p class="move-text-left">The world is two dimensional and is divided up into a grid of patches. Each patch is a square piece of "ground" over which
    turtles can move. Patches can make new turtles. Patches can't move, but otherwise they're just as "alive" as turtles.
    </p>

  <h3 class="move-text-left">Total Number of Patches</h3>
  <p class="move-text-left">The total number of patches is determined by the settings min-pxcor, max-pxcor, min-pycor, and max-pycor. When NetLogo
    starts up, min-pxcor, max-pxcor, min-pycor, and max-pycor are -16, 16, -16, and 16 respectively. This means that pxcor
    and pycor both range from -16 to 16, so there are 33 times 33, or 1089 patches total. (You can change the number of patches
    with the Settings button. </p>


  <h3 class="move-text-left">Patch Coordinates</h3>
  <p class="move-text-left">The world is two dimensional and is divided up into a grid of patches. Each patch is a square piece of "ground" over which
    turtles can move. Patches can make new turtles. Patches can't move, but otherwise they're just as "alive" as turtles.
    </p>
  <h3 class="move-text-left">Code Example</h3>
  {% include 'footer.html' %}
